In [10]:
import pandas as pd
from sqlalchemy import create_engine

In [9]:
POSTGRES_ADDRESS = 'mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com'
POSTGRES_PORT = '5432'
POSTGRES_USERNAME = 'lhl_student' 
POSTGRES_PASSWORD = 'lhl_student'
POSTGRES_DBNAME = 'mid_term_project'

In [11]:
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
      .format(username=POSTGRES_USERNAME,
       password=POSTGRES_PASSWORD,
       ipaddress=POSTGRES_ADDRESS,
       port=POSTGRES_PORT,
       dbname=POSTGRES_DBNAME))
# Create the connection
database = create_engine(postgres_str)

### flights at random

In [7]:
flights = pd.read_sql_query('''SELECT * FROM flights ORDER BY RANDOM() LIMIT 10000;''', database)

In [ ]:
flights_big = pd.read_sql_query('''SELECT * FROM flights ORDER BY RANDOM() LIMIT 500000;''', database)

In [6]:
flights_big.to_csv(r'C:\Users\kevin\data_bootcamp\w5\d5\mid-term-project-I-master/flights_big.csv', index=False, header=True)

In [9]:
#flights.to_csv(r'C:\Users\kevin\data_bootcamp\w5\d5\mid-term-project-I-master/flights_rand.csv', index=False, header=True)

### flights and passenders tables together

In [41]:
#flights_pass = pd.read_sql_query('''SELECT f.*, p.* FROM flights AS f JOIN passengers AS p ON f.origin_airport_id = p.origin_airport_id LIMIT 20000;''', database)

### fuel at random

In [10]:
fuel = pd.read_sql_query('''SELECT * FROM fuel_comsumption ORDER BY RANDOM() LIMIT 10000;''', database)

In [12]:
#fuel.to_csv(r'C:\Users\kevin\data_bootcamp\w5\d5\mid-term-project-I-master/fuel.csv', index=False, header=True)

### passengers at random

In [6]:
passenger_rand = pd.read_sql_query('''SELECT * FROM passengers ORDER BY RANDOM() LIMIT 10000;''', database)

In [7]:
passenger_rand.to_csv(r'C:\Users\kevin\data_bootcamp\w5\d5\mid-term-project-I-master/passenger_rand.csv', index=False, header=True)

### all tables

In [25]:
#data = pd.read_sql_query('''SELECT f.*, p.*, fuel.* FROM flights AS f JOIN passengers AS p ON f.origin_airport_id = p.origin_airport_id JOIN fuel_comsumption AS fuel ON p.airline_id = fuel.airline_id LIMIT 20000;''', database)

In [27]:
#data.to_csv(r'C:\Users\kevin\data_bootcamp\w5\d5\mid-term-project-I-master/all_data.csv', index=False, header=True)

## weather

In [5]:
weather = pd.read_csv('WeatherEvents_Jan2016-Dec2020.csv')

In [6]:
weather['StartTime(UTC)'] = pd.to_datetime(weather['StartTime(UTC)'], errors='coerce')

In [7]:
weather['EndTime(UTC)'] = pd.to_datetime(weather['EndTime(UTC)'], errors='coerce')

In [8]:
start_date = "2018-1-1"
end_date = "2019-1-31"
after_start_date = weather["StartTime(UTC)"] >= start_date
before_end_date = weather["EndTime(UTC)"] <= end_date
between_two_dates = after_start_date & before_end_date

In [9]:
weather1 = weather.loc[between_two_dates]

In [14]:
weather12 = weather1[['Type', 'Severity', 'StartTime(UTC)', 'EndTime(UTC)', 'City']]

In [18]:
weather12

         Type  Severity      StartTime(UTC)        EndTime(UTC)      City
965      Rain     Light 2018-01-07 03:36:00 2018-01-07 03:54:00  Saguache
966      Snow     Light 2018-01-07 03:54:00 2018-01-07 07:12:00  Saguache
967      Snow     Light 2018-01-11 03:36:00 2018-01-11 03:54:00  Saguache
968      Snow     Light 2018-01-12 13:54:00 2018-01-12 15:12:00  Saguache
969      Snow     Light 2018-01-12 15:54:00 2018-01-12 16:36:00  Saguache
...       ...       ...                 ...                 ...       ...
6273396  Snow     Light 2019-01-28 09:02:00 2019-01-28 09:53:00    Lander
6273397  Snow  Moderate 2019-01-28 09:53:00 2019-01-28 12:04:00    Lander
6273398  Snow     Light 2019-01-28 12:04:00 2019-01-28 12:53:00    Lander
6273399  Snow  Moderate 2019-01-28 12:53:00 2019-01-28 13:25:00    Lander
6273400  Snow     Light 2019-01-28 13:25:00 2019-01-28 16:53:00    Lander

[1449187 rows x 5 columns]

In [19]:
weather12.to_csv(r'C:\Users\kevin\data_bootcamp\w5\d5\mid-term-project-I-master/weather.csv', index=False, header=True)

### test set grab from flights_test

In [5]:
flights_test = pd.read_sql_query('''SELECT * FROM flights_test;''', database)

In [6]:
flights_test.to_csv(r'C:\Users\kevin\data_bootcamp\w5\d5\mid-term-project-I-master/flights_test.csv', index=False, header=True)